@font-face {
  font-family: poppins-light;
  src: url("../fonts/Poppins-Light.woff");
}
@font-face {
  font-family: poppins-regular;
  src: url("../fonts/Poppins-Regular.woff");
}
@font-face {
  font-family: poppins-medium;
  src: url("../fonts/Poppins-Medium.woff");
}
@font-face {
  font-family: poppins-semibold;
  src: url("../fonts/Poppins-SemiBold.woff");
}
@font-face {
  font-family: poppins-bold;
  src: url("../fonts/Poppins-Bold.woff");
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box !important;
  font-family: "poppins-regular";
  text-decoration: none !important;
  list-style: none !important;
}

$color-pallete: (
  "Primary-btn": #fdb827,
  "Primary-btn-hover": #ffb005,
  "Heading": #14274e,
  "SubHeading": #68738b,
  "title": #88d498,
);

section.navbar-section {
  ul {
    li.active {
      & a {
        color: map-get($color-pallete, "Heading");
        font-family: "Poppins-Medium";
      }
    }
    li.nav-item {
      & a {
        color: map-get($color-pallete, "SubHeading");
        transition: 0.3s;
        &:hover {
          color: map-get($color-pallete, "Primary-btn") !important;
        }
      }
    }
  }
}

.title {
  position: relative;
  h3 {
    color: map-get($color-pallete, "title");
    font-size: 25px;
  }
  &::before {
    content: "";
    position: absolute;
    width: 75px;
    height: 2px;
    bottom: 0px;
    background-color: map-get($color-pallete, "title");
  }
}
section.section-hero {
  padding: 70px 0px;
  .left-hero {
    & h1 {
      color: map-get($color-pallete, "Heading");
      font-family: "poppins-bold";
      font-size: 2.9rem;
      margin-bottom: 10px;
    }
    & p {
      font-size: 1.2rem;
      color: map-get($color-pallete, "SubHeading");
      margin-bottom: 30px;
    }
    & a.btn-cta {
      padding: 10px 15px;
      background-color: map-get($color-pallete, "Primary-btn");
      color: #fff;
      border-radius: 30px;
      transition: 0.3s;

      &:hover {
        background-color: map-get($color-pallete, "Primary-btn-hover");
        font-style: none;
      }
    }
  }
  .right-hero {
    .img-box {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
section.section-aboutUs {
  padding: 50px 0px;
  .right-about {
    h4 {
      font-size: 20px;
      font-family: "poppins-semibold";
      color: map-get($color-pallete, "Heading");
      margin-bottom: 10px;
    }
    p {
      color: map-get($color-pallete, "SubHeading");
      line-height: 28px;
      font-size: 18px;
    }
  }
  .left-about {
    .img-box {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

section.section-kelas-tersedia {
  padding: 70px 0px;
  .classes {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    .box-img {
      width: 80%;
      height: 80%;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    h5 {
      font-size: 30px;
      font-family: "poppins-semibold";
      color: map-get($color-pallete, "Heading");
    }
    p {
      font-size: 20px;
      color: map-get($color-pallete, "SubHeading");
    }
  }
}
section.btn-cta-box-bottom {
  a {
    padding: 10px 10px;
    &.btn-daftar {
      background-color: map-get($color-pallete, "Primary-btn");
      color: #fff;
      border-radius: 20px;
      transition: 0.3s;

      &:hover {
        background-color: map-get($color-pallete, "Primary-btn-hover");
      }
    }
    &.btn-contact-us {
      color: #68738b;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}
footer {
  border-radius: 30px 30px 0px 0px;
  background-color: #14274e;
  padding: 70px 0px 100px;
  position: relative;

  .footer-main {
    & h4 {
      font-size: 18px;
      color: #fff;
    }
    & p,
    & li,
    & a {
      color: #c9c9c9 !important;
      font-family: "Poppins-Light";
      font-size: 16px;
    }
    & a:hover {
      text-decoration: underline !important;
    }

    & li {
      margin-top: 10px;
    }
  }
  .copyright {
    position: absolute;
    bottom: 0px;
    display: block;
    background-color: #102042;
    color: #f1f1f1;
    width: 100%;
    & a {
      color: map-get($color-pallete, "Primary-btn");
    }
  }
}

.image-box-aff {
  padding-top: 50px;
  width: 100%;
  margin-bottom: -10px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

// responsive break point
@media (max-width: 600) {
  section.section-hero {
    padding: 70px 0px;
    .left-hero {
      & h1 {
        color: map-get($color-pallete, "Heading");
        font-family: "poppins-bold";
        font-size: 1.5rem !important;
        margin-bottom: 10px;
      }
      & p {
        font-size: 1rem;
        color: map-get($color-pallete, "SubHeading");
        margin-bottom: 30px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  section.section-hero {
    padding: 70px 0px;
    .left-hero {
      & h1 {
        color: map-get($color-pallete, "Heading");
        font-family: "poppins-bold";
        font-size: 1.8rem !important;
        margin-bottom: 10px;
      }
      & p {
        font-size: 1rem;
        color: map-get($color-pallete, "SubHeading");
        margin-bottom: 30px;
      }
    }
  }
}
